@import url(https://fonts.googleapis.com/css?family=EB%20Garamond|Overpass%20Mono|Nunito);

@font-face {
  font-family: "proxima-light";
  src: url("./assets/proxima-light.otf") format("opentype");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #474747;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
